.closeButton{

}
.closeButton:hover SVGPath{
   -fx-fill:  green;
}

.notificationLabel{
	 -fx-fill:  yellow;
	 -fx-font-size: 11.0pt;
    -fx-font-family: "Segoe UI Semibold";
    -fx-text-fill: white;
    -fx-opacity: 0.6;
}
